<from>
    <h1>formulario</h1>

    <form method="post" action="/formulario">
        <label>nombre</label>
        <input type="text" name="name"/>
        <label>precio</label>
        <input type="number" name="price"/>
        <label>stock</label>
        <input type="numbre" name="stock"/>
        <button type="submit">enviar</button>
    </from>
    <a href="/">home</a>
    <a href="/tabla">tabla</a>
    
</div>