<div>
    <h1>Formulario</h1>
    <form method="post" action="/formulario">
        <div class="mb-3">
            <label class="form-label">Nombre del Producto</label>
            <input type="text" name="name" class="form-control" required="true">
            <label class="form-label">Precio</label>
            <input type="number" name="price" class="form-control" required="true">
            <label class="form-label">Imagen URL</label>
            <input type="url" name="image" class="form-control" required="true"><br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        
    </form>
    <br>
    <a href="/"><button class="btn btn-primary">Home</button></a>
    <a href="/tabla"><button class="btn btn-primary">Tabla</button></a>
    
</div>