<div>
    <form action="post" action="/formulario">
        <label>nombre</label>
        <input type="text" name="name"/>
        <label>precio</label>
        <input type="number" name="price"/>
        <label>stock</label>
        <input type="numbre" name="stock"/>
        <button type="submit">enviar</button>
    </form>
    <a href="/">volver a home</a><br>
    <a href="/tabla">ir a tabla</a>


</div>