div
    h1 vista formulario 
    form(method="post" action="/formulario") 
        label  nombre
        input(type="text" name="name")
        label  precio
        input(type="number" name="price")
        label  stock
        input(type="numbre" name="stock")
        button(type="submit") enviar
    a(href="/") home 
    br
    a(href="/tabla") tabla 